@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');

body {
    font-family: 'Schibsted Grotesk', sans-serif;
    min-height: 100vh;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 0.5rem;
}

.container {
    display: grid;
    min-height: 400px;
    grid-template-columns: repeat(2, 1fr 2fr);
    grid-auto-rows: minmax(150px, auto);
}